---
const { frontmatter } = Astro.props;
import Layout from "../layouts/Layout.astro";

const formatDate = (date: string) => {
  const options: Intl.DateTimeFormatOptions = {
    year: "numeric",
    month: "long",
    day: "numeric",
  };
  return new Date(date).toLocaleDateString("en-GB", options);
};
---

<Layout>
  <div
    class="py-10 flex flex-col justify-start items-center min-h-[80vh]"
  >
    <div class="pb-10 max-w-prose">
      <h1
        class="text-2xl sm:text-3xl sm:text-4xl font-bold text-center"
      >
        {frontmatter.title}
      </h1>
      <p class="text-xl sm:text-base sm:text-2xl text-center pt-2">
        {formatDate(frontmatter.pubDate.slice(0, 10))}
      </p>
    </div>
    <div class="prose text-neutral-900">
      <slot />
    </div>
    <div
      class="pt-8 flex flex-col space-y-5 sm:flex-row sm:space-y-0 sm:space-x-5 text-left text-2xl sm:items-center sm:justify-center"
    >
      <h1 class="text-2xl text-left">Share this article:</h1>
      <a
        href={`https://twitter.com/intent/tweet?text=${frontmatter.title}&url=https://www.jackkershaw.net/blog/${frontmatter.slug}`}
        target="_blank"
        rel="noopener noreferrer"
      >
        <span
          class="icon-[mdi--twitter] text-neutral-900 hover:text-ykb active:neutral-100"
        ></span>
      </a>
      <a
        href={`https://wa.me/?text=${encodeURIComponent(
          `${frontmatter.title}: https://www.jackkershaw.net/blog/${frontmatter.slug}`
        )}`}
        target="_blank"
        rel="noopener noreferrer"
      >
        <span
          class="icon-[mdi--whatsapp] text-neutral-900 hover:text-ykb active:neutral-100"
        ></span>
      </a>

      <a
        href={`https://www.facebook.com/sharer/sharer.php?u=https://www.jackkershaw.net/blog/${frontmatter.slug}`}
        target="_blank"
        rel="noopener noreferrer"
      >
        <span
          class="icon-[mdi--facebook] text-neutral-900 hover:text-ykb active:neutral-100"
        ></span>
      </a>
      <a
        href={`mailto:?subject=${encodeURIComponent(
          frontmatter.title
        )}&body=Check out this article: ${encodeURIComponent(
          "https://www.jackkershaw.net/blog/" + frontmatter.slug
        )}`}
      >
        <span
          class="icon-[mdi--email] text-neutral-900 hover:text-ykb active:neutral-100"
        ></span>
      </a>
    </div>

    <a href="/blog" class="text-xl hover:text-ykb pt-10 mt-10 block">
      Back to all blog posts
    </a>
  </div>
</Layout>
