---
const { frontmatter } = Astro.props;
import Layout from "../layouts/Layout.astro";

const formatDate = (date: string) => {
  const options: Intl.DateTimeFormatOptions = {
    year: "numeric",
    month: "long",
    day: "numeric",
  };
  return new Date(date).toLocaleDateString("en-GB", options);
};
---

<Layout>
  <div
    class="py-10 flex flex-col justify-start items-center min-h-[80vh]"
  >
    <div class="pb-10 max-w-prose">
      <h1 class="text-4xl text-center">
        {frontmatter.title}
      </h1>
      <p class="text-2xl text-center pt-2">
        {formatDate(frontmatter.pubDate.slice(0, 10))}
      </p>
    </div>
    <div class="prose text-neutral-900">
      <slot />
    </div>
    <div
      class="py-10 flex flex-row space-y-2 sm:space-y-0 space-x-5 text-left text-2xl flex-wrap justify-center"
    >
      <h1
        class="text-2xl basis-full text-center lg:text-left lg:basis-auto"
      >
        Share:
      </h1>
      <a
        href={`https://twitter.com/intent/tweet?text=${frontmatter.title}&url=https://www.jackkershaw.net/blog/${frontmatter.slug}`}
        target="_blank"
        rel="noopener noreferrer"
      >
        Twitter
      </a>
      <a
        href={`https://wa.me/?text=${encodeURIComponent(
          `${frontmatter.title}: https://www.jackkershaw.net/blog/${frontmatter.slug}`
        )}`}
        target="_blank"
        rel="noopener noreferrer"
      >
        Whatsapp
      </a>

      <a
        href={`https://www.facebook.com/sharer/sharer.php?u=https://www.jackkershaw.net/blog/${frontmatter.slug}`}
        target="_blank"
        rel="noopener noreferrer"
      >
        Facebook
      </a>
      <a
        href={`https://www.linkedin.com/shareArticle?mini=true&url=https://www.jackkershaw.net/blog/${frontmatter.slug}`}
        target="_blank"
        rel="noopener noreferrer"
      >
        LinkedIn
      </a>

      <a
        href={`mailto:?subject=${encodeURIComponent(
          frontmatter.title
        )}&body=Check out this article: ${encodeURIComponent(
          "https://www.jackkershaw.net/blog/" + frontmatter.slug
        )}`}
      >
        Email
      </a>
    </div>

    <a href="/blog" class="text-3xl hover:text-ykb block">
      Back to all blog posts
    </a>
  </div>
</Layout>
