---
const { frontmatter } = Astro.props;
import Layout from "../layouts/Layout.astro";

const formatDate = (date: string) => {
  const options: Intl.DateTimeFormatOptions = {
    year: "numeric",
    month: "long",
    day: "numeric",
  };
  return new Date(date).toLocaleDateString("en-GB", options);
};
---

<Layout>
  <meta
    property="article:published_time"
    content={frontmatter.pubDate}
  />
  <meta property="article:author" content="Jack Kershaw" />
  <meta property="article:tag" content={frontmatter.tags.join(", ")} />
  <article
    class="flex flex-col justify-center items-center min-h-[80vh]"
  >
    <section class="max-w-prose">
      <div class="pb-8">
        <h2 class="text-4xl font-bold">{frontmatter.title}</h2>
        <time class="text-2xl text-gray-600">
          {formatDate(frontmatter.pubDate.slice(0, 10))}
        </time>
      </div>
      <div class="prose text-xl text-neutral-900">
        <slot />
      </div>
      <div
        class="pt-10 flex flex-col sm:flex-row justify-between items-center"
      >
        <div
          class="flex flex-wrap justify-start items-center gap-5 text-2xl"
          aria-label="Share this article"
        >
          <h2 class="sr-only">Share this article</h2>
          <span class="text-2xl">Share:</span>
          <a
            href={`https://wa.me/?text=${encodeURIComponent(
              `${frontmatter.title}: https://www.jackkershaw.net/blog/${frontmatter.slug}`
            )}`}
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Share on WhatsApp"
            class="hover:text-ykbdark active:text-ykblight flex items-center flex-col justify-center"
          >
            <span class="icon-[mdi--whatsapp]"></span>
          </a>
          <a
            href={`https://www.facebook.com/sharer/sharer.php?u=https://www.jackkershaw.net/blog/${frontmatter.slug}`}
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Share on Facebook"
            class="hover:text-ykbdark active:text-ykblight flex items-center flex-col justify-center"
          >
            <span class="icon-[mdi--facebook]"></span>
          </a>
          <a
            href={`https://www.linkedin.com/shareArticle?mini=true&url=https://www.jackkershaw.net/blog/${frontmatter.slug}`}
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Share on LinkedIn"
            class="hover:text-ykbdark active:text-ykblight flex items-center flex-col justify-center"
          >
            <span class="icon-[mdi--linkedin]"></span>
          </a>
          <a
            href={`mailto:?subject=${encodeURIComponent(
              frontmatter.title
            )}&body=Check out this article: ${encodeURIComponent(
              "https://www.jackkershaw.net/blog/" + frontmatter.slug
            )}`}
            aria-label="Share via Email"
            class="hover:text-ykbdark active:text-ykblight flex items-center flex-col justify-center"
          >
            <span class="icon-[mdi--email]"></span>
          </a>
        </div>
        <a
          href="/blog"
          class="text-2xl hover:text-ykbdark active:text-ykblight flex items-center flex-col justify-center no-underline"
        >
          Back to all blog posts
        </a>
      </div>
    </section>
  </article>
</Layout>
